[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "basketball-reference-web-scraper>=4.15.4",
    "beautifulsoup4>=4.14.3",
    "requests>=2.32.5",
]
